

.active-enroll-list{
	width: 100%;

	&-content{
		padding-top: 15px;
		padding-left: 35px;
		padding-right: 35px;
	}


	td a.width-list {
		display: block;
		width: 520px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-decoration: none;
		color: #000;
	}
}