

.active-edit-form{
	width: 100%;
	font-size: 14px;

	/**/
	&-item{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 16px;
		
		/*表单label */
		&-label{
			width: 85px;
			height: 40px;
			margin-right: 30px;
			/*文字左右对齐*/
			text-align:justify;
			text-justify:inter-ideograph;	
			line-height: 40px;
			font-size: 14px;
			
			/*与上方 text-align ， text-justify 属性同时使用达到文字两端对齐效果*/
			span{
				display: inline-block;
				padding-left: 100%;
			}
		}
		
		/*表单右侧包裹层*/
		&-content{
			width: 560px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			
			/*复选框图标*/
			&-checkbox{
				height: 35px;
				width: 35px;
				background-size: 70px 53px;
				background-image: url(../../resources/images/status@2x.png);
				background-position:  -35px 0 ;
				margin-right: 15px;
				cursor: pointer;
			}
			

			&-checkbox-checked{
				background-position: 0 0 ;
			}
			
			/*输入框共同样式*/
			&-input{
				height: 40px;
				border-radius: 5px;
				outline: none;
				border: solid 1px #c3c3c3;
				width: 260px;
				padding-left: 10px;
			}
			&-input:hover{
				border: solid 1px #108ee9;
			}

			/*外链输入框长度*/
			&-outsite{
				width: 260px;
			}
			
			/*活动地址,人数限定,预到意向 输入框长度*/
			&-address , &-person-limit , &-intention{
				flex: 1;
			}

			&-map{
				width: 560px;
				height: 300px;
			}
		}
		
		/*带字数限制的输入框*/
		&-input{
			width: 560px;
			height: 40px;
			border: solid 1px #c3c3c3;
			line-height: 40px;
			box-sizing: border-box;
			border-radius: 5px;
			padding-right: 10px;
			padding-left: 10px;
			display: flex;

			&-title{
				flex: 1;
				height: 100%;
				border: none;
				outline: none;
			}
		}

		&-input:hover{
			border: solid 1px #108ee9;
		}

	}
}


.ant-calendar-picker-input , .ant-time-picker-input {
	height: 40px;
}