
/*每项活动*/
.active-item{
	height: 142px;
	margin-left: 35px;
	margin-right: 35px;
	border-bottom: solid 1px #d3d3d3;
	font-size: 16px;
	color: #333333;
	/*position: relative;*/
	display: flex;
	
	/*每条活动项分左右布局*/
	.active-item-left, .active-item-right{
		height: 100%;
	}
	
	/*活动线左边div ,左侧又分上下布局*/
	.active-item-left{
		/*position: absolute;
		top: 0;
		left: 0;*/
		flex: 2;
		right: 450px;
		padding-top: 15px;
		/*overflow: hidden;*/
		/*text-overflow:ellipsis*/

		/*上面*/
		.active-item-left-top{
			margin-bottom: 15px;
			.active-title{
				margin-left: 10px;
			}
		}
	
		/*下面*/
		.active-item-left-bottom{
			width: 100%;
			position: relative;

			.active-image{
				width: 110px;
				height: 72px;
				background-color: #c3c3c3;
				margin-right: 15px;
			}

			.active-detail{
				position: absolute;
				top: 0;
				left: 125px;
				right: 0;
				display: flex;
				flex-direction: column;
				color: #c3c3c3;

			}
		}

		
	}
	
	/*活动线左边div*/
	.active-item-right{
		/*width: 450px;
		position: absolute;
		top: 0;
		right: 0;*/
		flex: 1;
		padding-top: 18px;
		padding-bottom: 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-right: 13px;
		
		.active-item-right-top{
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin-bottom: 10px;
			padding-right: 36px;

			.active-createTime{
				font-size: 16px;
				color: #a3a3a3;
				margin-right: 35px;
			}

			.active-release-btn{
				width: 110px;
				height: 35px;
				background-image: url(../../resources/images/switch-btn@2x.png);
				background-size: 220px 65px;
				background-position: -110px 0; 
				cursor: pointer;
			}
			.active-release-btn-open{
				background-position: 0 0; 
			}

			.active-delete-btn{
				width: 21px;
				height: 21px;
				margin-top: 6px;
				margin-left: 15px;
				background-image: url(../../resources/images/option-btns@2x.png);
				background-size: 66px 125px;
				background-position: -22px -21px;
				cursor: pointer;
			}

		}

		.active-item-right-center{
			text-align: right;
			color: #c3c3c3;
			padding-right: 36px;
			span{
				color: #333333;
				cursor: pointer;
				margin-left: 10px;
			}
		}

		.active-item-right-bottom{
			text-align: right;
			color: #333333;
			padding-right: 36px;
			cursor: pointer;
		}

		
	}
}