<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="www.bj-evetime.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="msapplication-tap-highlight" content="no"/>
    <script src="http://webapi.amap.com/maps?v=1.3&key=f0e133a8c4994fc745c5cba6668d9925"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/medium-editor/5.22.1/css/medium-editor.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/medium-editor/5.22.1/css/themes/flat.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	<div id="container">
    </div>
</body>
</html>

