
.RichEditor-wrap{
	width : 100%;
	height: 200px;
	background-color: #fff;
	border: solid 1px #c3c3c3;
	font-size: 14px;
}

/*编辑区域大小*/
.public-DraftEditor-content {
  min-height: 100px;
}

.text-align-center{
	width: 100%;
	display: inline-block;
	text-align: center;
}