
/*左侧菜单区域*/
.sider-wrap{
	height: 100%;
	width: 250px;
	transition: all 0.2s;
	display: flex;
	flex-direction: column;
	background-color: #38444c;

	.collapse-wrap{
		height: 35px;
		min-height: 35px;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		.collapse-wrap-img{
			width: 20px;
			height: 20px;
			background-image: url(../resources/images/collapse@2x.png);
			background-size: contain;
		}

		.collapse-wrap-img-collapse{
			transform:rotate(90deg);
			-ms-transform:rotate(90deg); 	/* IE 9 */
			-moz-transform:rotate(90deg); 	/* Firefox */
			-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
			-o-transform:rotate(90deg); 	
		}
	}
	
	/*菜单列表包裹层*/
	.menu-wrap{
		flex: 1;
		/*菜单ul*/
		.menu-list{
			color: #ececec;
			font-size: 16px;
			
			/*菜单li*/
			.menu-item{
				height: 50px;
				overflow: hidden;
				transition: all 0.3s ease;
				cursor: pointer;
				
				/*主菜单*/
				.menu-item-title{
					height: 50px;
					line-height: 50px;
					font-size: 17px;
					display: flex;
					flex-direction: row;
					align-items: center;

					
					background-color: #515f6e;

					.arrow-icon{
						display: block;
						margin-left: 45px;
						margin-right: 30px;
						width: 10px;
						height: 10px;
						background-repeat: no-repeat;
						background-size: contain;
						background-image: url(../resources/images/arrow-icon2@2x.png);
					}

					.arrow-icon-open{
						width: 10px;
						height: 10px;
						background-image: url(../resources/images/arrow-icon@2x.png);
						margin-top: 4px;
					}
				}

				
				
				/*子菜单ul*/
				.menu-item-sublist{
					
					/*子菜单li*/
					.menu-item-sub{
						transition: all 0.3s;
						height: 50px;
						line-height:  50px;
						padding-left: 45px;
						position: relative;

						.menu-icon , .menu-item-sub-title{
							display: inline-block;
						}

						.menu-item-sub-title{
							position: absolute;
							left: 85px;
						}

						.menu-icon {
							width: 22px;
							height: 22px;
							margin : 14px 0 ;
							margin-right: 20px;
							background-size: 44px 132px;
							background-image: url(../resources/images/menuicon@2x.png);
							background-repeat: no-repeat;
						}
						
						/*正念训练项图标*/
						.train{
							background-position: -22px 0;
						}
						.train-active{
							background-position: left 0;
						}
						
						/**/
						.active{
							background-position: -22px -22px;
						}
						.active-active{
							background-position: left -22px;
						}
						.number{
							width: 25px;
							height: 25px;
							background-size: 50px 25px;
							background-image: url(../resources/images/number2x.png);
							background-position: -25px 0 ;
						}
						.number-active{
							width: 25px;
							height: 25px;
							background-size: 50px 25px;
							background-image: url(../resources/images/number2x.png);
						}

						.member{
							background-position: -22px -44px;
						}
						.member-active{
							background-position: 0 -44px;
						}

						.energy-rule{
							background-position: -22px -66px;
						}
						.energy-rule-active{
							background-position: 0 -66px;
						}
						.energy-rank{
							background-position: -22px -88px;
						}
						.energy-rank-active{
							background-position: 0 -88px;
						}
						.identity{
							background-position: -22px -110px;
						}
						.identity-active{
							background-position: 0 -110px;
						}
					}
					.menu-item-sub-active{
						border-left: solid 10px #ffb400;
						padding-left: 35px;
						color: #ffb400;
						position: relative;

						.menu-item-sub-title{
							position: absolute;
							left: 75px;
						}
					}
				}
			}
			.menu-item-collapse{
				.menu-item-title{
					padding: 0;
					margin :0;
					position: relative;
					.arrow-icon{
						position: absolute;
						left: -30px;
						top: 20px;
					}
					span{
						display: none;
					}
				}
				
				.menu-item-sublist{
					.menu-item-sub, .menu-item-sub-active{
						border: none;
					}

					.menu-item-sub{
						display: block;
						position: relative;
						.menu-icon{
							position: absolute;
							left: 8px;
						}
						.menu-item-sub-title{
							display: none;
						}
					}
				}
				
			}
		}
	}
}

/*菜单顶部图标div*/
.menu-icon{
	height: 48px;
	width: 100%;
	background-color: #404040;
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*菜单顶部图片*/
.menu-icon img{
	height: 24px;
	width: 24px;
	margin: 0 auto;
	cursor : pointer ;
	transition: all 0.2s;
}

.menu-title{
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*设置左侧菜单位置及大小*/
.menu-title span{
	margin-left: 70px;
}

/*设置左侧菜单图标大小及绝对定位*/
.icon{
	display: block;
	height: 24px;
	width: 24px;
	line-height: 24px;
	position: absolute;
	left: 8px;
}

/*菜单顶部小图片旋转动画*/
.rotate{
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 	/* IE 9 */
	-moz-transform:rotate(90deg); 	/* Firefox */
	-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
	-o-transform:rotate(90deg); 	
}