
/*设置顶部菜单栏高度*/
.topbar{
	height: 72px;
}


/*设置内容区绝对定位*/
.content{
	flex: 1;
	height: 1000px;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
}

.right-wrap{
	flex: 1;
}

.wrapperContainer{
	width:200px;
	height:200px;
	background-color: red;
}

