
.number-wrap{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	.number-content-wrap{
		flex: 1;
		display: flex;
		flex-direction: column;
		.number-tab{
			height: 80px;
			font-size: 18px;
			color: #333333;
			display: flex;
			flex-direction: row;
			align-items: center;
			

			
			&-item{
				width: 143px;
				text-align: center;
				cursor: pointer;
				height: 80px;
				line-height: 76px;
				border-top: solid 4px transparent;
				box-sizing: border-box;
			}

			&-item-active{
				border-top: solid 4px #ffb400;
				color: #ffb400;
			}
		}

		.number-detail{
			flex: 1;
		}
	}
}